<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourth.lvyou.dao.RouteMapper">

  <select id="getRoute" resultType="com.fourth.lvyou.bean.Route" parameterType="String">
      SELECT  * FROM route
      <where>
       route_number = #{routeNumber};
      </where>
  </select>

<!--查询景点 根据地点模糊查询查询-->
    <select id="getScenery" resultType="com.fourth.lvyou.bean.Scenery" parameterType="com.fourth.lvyou.bean.Scenery">
       select * from route,address,scenery,detailed
       <where>
        route.route_id=address.address_route_id
        and scenery.address_aid=address.address_id
        and scenery.detailed_did =detailed.detailed_id
           <if test="Aname!=null">
               and address.address_name like '%${Aname}%';
           </if>
       </where>
    </select>

    <select id="getSceneryById" resultType="com.fourth.lvyou.bean.Scenery" parameterType="int">
        SELECT  * FROM scenery WHERE scenery_id=#{id};
    </select>

    <insert id="getOrderForm" parameterType="com.fourth.lvyou.bean.OrderForm">
        INSERT  INTO  orderform(orderform_number,orderform_day,orderform_date,orderform_address,orderform_price,orderform_title,orderform_rode,orderform_type,user_id)
        VALUES (#{orderform_Number},#{orderform_Day},#{orderform_Date},#{orderform_Address},#{orderform_Price},#{orderform_Title},#{orderform_Rode},#{orderform_Type},#{user_Id});
    </insert>

    <select id="getSceneryFindAll" resultType="com.fourth.lvyou.bean.Scenery">
        SELECT * FROM scenery;
    </select>

    <select id="getfindOrderForm" resultType="com.fourth.lvyou.bean.OrderForm" parameterType="int">
        SELECT orderform.* FROM orderform,user WHERE orderform.user_id=user.id AND user.id=#{id};
    </select>

    <delete id="deleteOrderForm" parameterType="int">
        DELETE FROM orderform WHERE orderform_id=#{id}
    </delete>
</mapper>
